# Runtime
# PORT=3000
# BASE_URL=http://localhost:3000

# DATABASE
# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=5432
# DATABASE_USER=postgres
# DATABASE_PASSWORD=
# DATABASE_NAME=

#JWT
# JWT_SECRET=

#REDIS
# REDIS_ADDR=localhost:6379

# JOB PAYMENT

# TMDB
# TMDB_API_KEY=your_tmdb_api_key
# TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token
# PAYMENT_TIMEOUT_MINUTES=2