# Runtime
PORT=8080
BASE_URL=http://localhost:8080

# CORS
CORS_ORIGIN=

# DATABASE
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=movie_db

# JWT
JWT_SECRET=

# SEEDER
SEEDER_EMAIL=
SEEDER_PASSWORD=

# REDIS
REDIS_ADDR=localhost:6379

# TMDB
TMDB_READ_ACCESS_TOKEN=
